* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  background-color: black;
  align-items: center;
  flex-direction: column;
}
#game {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 5px solid gainsboro;
}

.title {
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: .4rem 0 .4rem 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 3px solid rgb(60, 60, 60);
  border-radius: 6px;
  min-width: 60px;
  min-height: 60px;
  font-size: 50px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;


  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal {
  box-shadow: 0 0 5px white;
  transition: 500ms;
}

.revealed {
  box-shadow: 0 0 0 white;
  transition: 500ms;
}

.yellow {
  background-color: #eaa800;
}

.green {
  background-color: #49b81f;
}

.keyboard-row button.dead-key {
  background-color: rgb(85, 85, 85);
}

#keyboard-container {
  height: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 60px;
  width: 40px;
  cursor: pointer;
  background-color: rgb(130, 130, 130);
  color: gainsboro;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button:active {
  box-shadow: 0px 0px 7px white;
}

.keyboard-row button.wide-button {
  width: 60px;
}

@media only screen and (max-width: 600px){
  body {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}